[submodule "dependencies/external/rpi_ws281x"]
	path = dependencies/external/rpi_ws281x
	url = https://github.com/hyperion-project/rpi_ws281x
	branch = main
[submodule "dependencies/external/flatbuffers"]
	path = dependencies/external/flatbuffers
	url = https://github.com/google/flatbuffers
	branch = master
[submodule "dependencies/external/protobuf"]
	path = dependencies/external/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "dependencies/external/qmdnsengine"]
	path = dependencies/external/qmdnsengine
	url = https://github.com/nitroshare/qmdnsengine.git
[submodule "dependencies/external/mbedtls"]
	path = dependencies/external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "dependencies/external/hidapi"]
	path = dependencies/external/hidapi
	url = https://github.com/libusb/hidapi
[submodule "dependencies/external/libusb-cmake"]
	path = dependencies/external/libusb-cmake
	url = https://github.com/libusb/libusb-cmake
[submodule "dependencies/external/libftdi"]
	path = dependencies/external/libftdi
	url = git://developer.intra2net.com/libftdi
