[submodule "dependencies/external/rpi_ws281x"]
	path = dependencies/external/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x
	branch = master
[submodule "dependencies/external/flatbuffers"]
	path = dependencies/external/flatbuffers
	url = https://github.com/google/flatbuffers
	branch = master
[submodule "dependencies/external/protobuf"]
	path = dependencies/external/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "dependencies/external/qmdnsengine"]
	path = dependencies/external/qmdnsengine
	url = https://github.com/nitroshare/qmdnsengine.git
