notifications:
  email: false
language: cpp
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: xcode8
before_install:
  - chmod +x ./.travis/travis_install.sh
  - ./.travis/travis_install.sh
script:
  - chmod +x ./.travis/travis_build.sh
  - ./.travis/travis_build.sh
