// global css as stylus
.text-center 
  text-align center

.sub-text 
  color rgb(94, 94, 94)
  font-size 90%

.cursor-pointer
  cursor: pointer

.dark
  color white
  .sub-text
    opacity 0.8
    color: white

.flex
  display: flex
  flex-wrap: wrap

.flex-center
  justify-content  center

.no-decoration
  text-decoration  none

.main-section-disabled
  background-color  grey !important
  color lightgrey !important
  cursor not-allowed !important
  pointer-events none

// hide Hyperion TITLE
.site-name
    display none !important

.no-mp 
  margin 0 !important
  padding 0 !important

// ImageWrap component
.img-margin 
	margin 10px 5px
	p 
		margin 0
.img-shadow
  box-shadow 1px 1px 5px 0 rgba(0,0,0,0.4)