<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDeveloperRegion</key>
		<string>en</string>
		<key>CFBundleIdentifier</key>
		<string>com.hyperion-project.hyperiond</string>
		<key>CFBundleName</key>
		<string>Hyperion</string>
		<key>CFBundleExecutable</key>
		<string>Hyperion</string>
		<key>CFBundleIconFile</key>
		<string>Hyperion.icns</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>NSHumanReadableCopyright</key>
		<string>MIT License</string>
		<key>Source Code</key>
		<string>"https://github.com/hyperion-project/hyperion.ng"</string>
	</dict>
</plist>
